<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h2>Ingeniero Renzo Bolivar - Docente DAIE</h2> </center>

<center> <h2>Autores:</h2></center> 
<center><h2>Cristian Joel Maron Yujra</h2> </center>
<center><h2>Ismael Oscar Rodriguez Cruz</h2> </center> 
<center><h2>Ivanovich Ciro Figuero Salazar</h2> </center> 
<center><h2>Berly Gabriel Mamani Larico</h2> </center> 
<center><h2>Yulemi Huertas Illpa</h2> </center> 
<center><h2>Luis Alfredo Quispe Manuel</h2> </center> 
<center><h2>Saúl Alexander Soria Quispe</h2> </center>

<center> <h1>Curso : Computación 2</h1> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

## EJERCICIO 1

<div class="alert alert-info">
Crear un <strong>DataFrame</strong> desde la URL : 
    
    
    https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true   
    
Responder las siguientes preguntas :
</div>

<div class="well">
   
   1.-Que <strong>paises</strong> se encuentran en el DataFrame.
   
   2.-Cuantos registros hay por <strong>continente</strong>
    
   3.-Cuantos <strong>nuevos casos</strong> hubo como máximo en una fecha reportada por cada país?
    
   4.-Cuál es el país con el mayor <strong>GDP per cápita (PBI)</strong>?
   
   5.-Qué país tiene la mayor cantidad de <strong>fumadoras femeninas</strong>? 
    
   6.-Qué país tiene la mayor cantidad de <strong>muertes por millón</strong>? 
    
   7.-Qué país ha tomado las medidas <strong>más estrictas hasta ahora</strong>? 
    
   8.-Cual fue el país en alcanzar los 10.000 <strong>casos activos por primera vez</strong>?
    
   
</div>

### DATA FRAME DE LA URL

In [1]:
#importamos librerias
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#definimos la url y la variable para el dataframe
url = 'https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.csv?raw=true'
df = pd.read_csv(url, index_col=0)
df.head(100000)

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
LBY,Africa,Libya,2022-02-22,488567.0,1815.0,1851.857,6210.0,9.0,9.571,70211.156,...,NaN,NaN,NaN,3.7,72.91,0.724,NaN,NaN,NaN,NaN
LBY,Africa,Libya,2022-02-23,489940.0,1373.0,1636.000,6222.0,12.0,9.429,70408.468,...,NaN,NaN,NaN,3.7,72.91,0.724,NaN,NaN,NaN,NaN
LBY,Africa,Libya,2022-02-24,491216.0,1276.0,1467.286,6232.0,10.0,9.000,70591.840,...,NaN,NaN,NaN,3.7,72.91,0.724,NaN,NaN,NaN,NaN
LBY,Africa,Libya,2022-02-25,492154.0,938.0,1428.714,6241.0,9.0,9.000,70726.638,...,NaN,NaN,NaN,3.7,72.91,0.724,NaN,NaN,NaN,NaN
LBY,Africa,Libya,2022-02-26,492154.0,0.0,1428.714,6241.0,0.0,9.000,70726.638,...,NaN,NaN,NaN,3.7,72.91,0.724,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193802 entries, AFG to ZWE
Data columns (total 66 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   continent                                   182546 non-null  object
 1   location                                    193802 non-null  object
 2   date                                        193802 non-null  object
 3   total_cases                                 186124 non-null  float64
 4   new_cases                                   185859 non-null  float64
 5   new_cases_smoothed                          184685 non-null  float64
 6   total_deaths                                167597 non-null  float64
 7   new_deaths                                  167580 non-null  float64
 8   new_deaths_smoothed                         166417 non-null  float64
 9   total_cases_per_million                     185266 non-null  float64
 10  new_cases_per_million                       185001 non-null  float64
 11  new_cases_smoothed_per_million              183832 non-null  float64
 12  total_deaths_per_million                    166752 non-null  float64
 13  new_deaths_per_million                      166735 non-null  float64
 14  new_deaths_smoothed_per_million             165577 non-null  float64
 15  reproduction_rate                           145101 non-null  float64
 16  icu_patients                                25768 non-null   float64
 17  icu_patients_per_million                    25768 non-null   float64
 18  hosp_patients                               27010 non-null   float64
 19  hosp_patients_per_million                   27010 non-null   float64
 20  weekly_icu_admissions                       6297 non-null    float64
 21  weekly_icu_admissions_per_million           6297 non-null    float64
 22  weekly_hosp_admissions                      12545 non-null   float64
 23  weekly_hosp_admissions_per_million          12545 non-null   float64
 24  total_tests                                 78329 non-null   float64
 25  new_tests                                   74468 non-null   float64
 26  total_tests_per_thousand                    78329 non-null   float64
 27  new_tests_per_thousand                      74468 non-null   float64
 28  new_tests_smoothed                          102464 non-null  float64
 29  new_tests_smoothed_per_thousand             102464 non-null  float64
 30  positive_rate                               94434 non-null   float64
 31  tests_per_case                              92653 non-null   float64
 32  tests_units                                 105270 non-null  object
 33  total_vaccinations                          53167 non-null   float64
 34  people_vaccinated                           50638 non-null   float64
 35  people_fully_vaccinated                     48124 non-null   float64
 36  total_boosters                              25182 non-null   float64
 37  new_vaccinations                            43584 non-null   float64
 38  new_vaccinations_smoothed                   105144 non-null  float64
 39  total_vaccinations_per_hundred              53167 non-null   float64
 40  people_vaccinated_per_hundred               50638 non-null   float64
 41  people_fully_vaccinated_per_hundred         48124 non-null   float64
 42  total_boosters_per_hundred                  25182 non-null   float64
 43  new_vaccinations_smoothed_per_million       105144 non-null  float64
 44  new_people_vaccinated_smoothed              104180 non-null  float64
 45  new_people_vaccinated_smoothed_per_hundred  104180 non-null  float64
 46  stringency_index                            150829 non-null  float64
 47  population                                  192627 non-null  float64
 48  population_density                          172703 non-null  float64
 49  median_age                                  160077 non-null  float64
 50  aged_65_older                               158382 non-null  float64
 51  aged_70_older                               159238 non-null  float64
 52  gdp_per_capita                              159138 non-null  float64
 53  extreme_poverty                             103875 non-null  float64
 54  cardiovasc_death_rate                       159707 non-null  float64
 55  diabetes_prevalence                         167516 non-null  float64
 56  female_smokers                              120728 non-null  float64
 57  male_smokers                                119073 non-null  float64
 58  handwashing_facilities                      78427 non-null   float64
 59  hospital_beds_per_thousand                  141711 non-null  float64
 60  life_expectancy                             181253 non-null  float64
 61  human_development_index                     155511 non-null  float64
 62  excess_mortality_cumulative_absolute        6606 non-null    float64
 63  excess_mortality_cumulative                 6606 non-null    float64
 64  excess_mortality                            6606 non-null    float64
 65  excess_mortality_cumulative_per_million     6606 non-null    float64
dtypes: float64(62), object(4)
memory usage: 99.1+ MB

### 1. QUE PAÍSES SE ENCUENTRAN EN EL DATAFRAME

In [3]:
tab0 = pd.crosstab(index=df['location'], columns='date')
tab0.head(10000)

col_0           date
location
Afghanistan      841
Africa           852
Albania          840
Algeria          840
Andorra          834
...              ...
Western Sahara     1
World            874
Yemen            795
Zambia           818
Zimbabwe         816

[244 rows x 1 columns]

### 2. CUANTOS REGISTROS HAY POR CONTINENTE

In [4]:
tab = pd.crosstab(index=df['continent'], columns='location')
tab.head(10000)

col_0          location
continent
Africa            44918
Asia              41790
Europe            42179
North America     30065
Oceania           12777
South America     10817

### 3. CUANTOS NUEVOS CASOS HUBO COMO MAXIMO EN UNA FECHA REPORTADA POR CADA PAÍS

In [5]:
df[df.date == '2021-05-29'].sort_values('new_cases', ascending=False)

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
OWID_WRL,NaN,World,2021-05-29,170451474.0,480599.0,509799.000,3651103.0,10815.0,11499.429,21644.726,...,6.434,34.635,60.13,2.705,72.58,0.737,NaN,NaN,NaN,NaN
OWID_ASI,NaN,Asia,2021-05-29,50843604.0,241087.0,275116.000,680925.0,4692.0,5109.286,10867.629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_LMC,NaN,Lower middle income,2021-05-29,42154377.0,212071.0,243783.714,659538.0,4586.0,4986.571,12656.492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OWID_UMC,NaN,Upper middle income,2021-05-29,50853801.0,187291.0,175637.429,1464643.0,4879.0,4716.714,20230.875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IND,Asia,India,2021-05-29,27894800.0,165553.0,194952.571,325972.0,3460.0,3815.143,20019.104,...,1.900,20.600,59.55,0.530,69.66,0.645,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SXM,North America,Sint Maarten (Dutch part),2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,78.95,NaN,NaN,NaN,NaN,NaN
TON,Oceania,Tonga,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.800,44.400,NaN,2.600,70.91,0.725,NaN,NaN,NaN,NaN
TKM,Asia,Turkmenistan,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,100.00,7.400,68.19,0.715,NaN,NaN,NaN,NaN
TUV,Oceania,Tuvalu,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
VIR,North America,United States Virgin Islands,2021-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.58,NaN,NaN,NaN,NaN,NaN

### 4. CUAL ES EL PAIS CON MAYOR GDP PERCAPITA(PBI)

In [6]:
df.groupby('location').mean().gdp_per_capita.sort_values(ascending=False)

location
Qatar                           116935.600
Macao                           104861.851
Luxembourg                       94277.965
Singapore                        85535.383
Brunei                           71809.251
                                   ...
United States Virgin Islands           NaN
Upper middle income                    NaN
Vatican                                NaN
Wallis and Futuna                      NaN
Western Sahara                         NaN
Name: gdp_per_capita, Length: 244, dtype: float64

### 5. QUE PAIS TIENE LA MAYOR CANTIDAD DE FUMADORAS FEMENINAS

In [7]:
df.groupby('location').mean().female_smokers.sort_values(ascending=False)

location
Montenegro             44.0
Nauru                  43.0
Serbia                 37.7
Kiribati               35.9
Greece                 35.3
                       ...
Upper middle income     NaN
Vatican                 NaN
Venezuela               NaN
Wallis and Futuna       NaN
Western Sahara          NaN
Name: female_smokers, Length: 244, dtype: float64

### 6. QUE PAIS TIENE LA MAYOR CANTIDAD DE MUERTES POR MILLON

In [8]:
df.groupby('location').mean().total_deaths_per_million.sort_values(ascending=False)

location
Peru                            4061.535176
Gibraltar                       2543.245597
Bosnia and Herzegovina          2261.488821
Bulgaria                        2236.107141
Hungary                         2192.546773
                                   ...
Turkmenistan                            NaN
Tuvalu                                  NaN
United States Virgin Islands            NaN
Vatican                                 NaN
Western Sahara                          NaN
Name: total_deaths_per_million, Length: 244, dtype: float64

### 7. QUE PAÍS A TOMADO LAS MEDIDAS MAS ESTRICTAS HASTA AHORA

In [9]:
df.groupby('location').mean().stringency_index.sort_values(ascending=False)

location
Myanmar                74.179542
Peru                   73.641764
Honduras               73.079988
Azerbaijan             73.054172
China                  71.913929
                         ...
Upper middle income          NaN
Vatican                      NaN
Wallis and Futuna            NaN
Western Sahara               NaN
World                        NaN
Name: stringency_index, Length: 244, dtype: float64

### 8. CUAL FUE EL PAIS EN ENCONTRAR 10,000 CASOS ACTIVOS POR PRIMERA VEZ

In [10]:
df10 = df[ (df['date']>'2020-01-01') | (df['total_tests_per_thousand']>10000)]
df10

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2022-06-09,253779.0,0.0,104.000,5515.0,0.0,1.000,16815.275,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-06-10,254031.0,252.0,113.571,5518.0,3.0,1.286,16831.972,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-06-11,254031.0,0.0,113.571,5518.0,0.0,1.286,16831.972,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-06-12,254098.0,67.0,108.571,5521.0,3.0,1.571,16836.411,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2022-06-13,254155.0,57.0,92.429,5521.0,0.0,1.143,16840.188,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

<div class="alert alert-info">Creamos un nuevo <strong>DataFrame</strong> solo con los siguientes paises: <code>Peru, Guinea</code>. 
    
   Respondemos las siguientes preguntas :

</div>

<div class="well">
   
   9.-<strong>Cuantas filas</strong> hay por país ?.
   
   10.-Cuál es la <strong>fecha máxima</strong> por país ?.
    
   11.-Cuál es la <strong>fecha mínima</strong> por país ?.
    
   12.-Cuantos registros hay por <strong>"continente"</strong>?
   
   13.-Cuantos <strong>nuevos casos hubo como máximo</strong> en una fecha reportada por cada país?? 
    
   
</div>

### NUEVO DATAFRAME SOLO CON PERU Y GUINEA

In [11]:
df22 = df[df['location'] == 'Peru']
df22

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
PER,South America,Peru,2020-03-06,1.0,1.0,NaN,1.0,1.0,NaN,0.030,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-07,1.0,0.0,NaN,1.0,0.0,NaN,0.030,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-08,6.0,5.0,NaN,2.0,1.0,NaN,0.180,...,4.8,NaN,NaN,1.6,76.74,0.777,2706.0,11.77,12.57,81.11653
PER,South America,Peru,2020-03-09,7.0,1.0,NaN,2.0,0.0,NaN,0.210,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-10,11.0,4.0,NaN,2.0,0.0,NaN,0.330,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PER,South America,Peru,2022-06-09,3587906.0,764.0,757.429,213296.0,7.0,9.857,107553.025,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2022-06-10,3588697.0,791.0,756.286,213308.0,12.0,11.429,107576.737,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2022-06-11,3589782.0,1085.0,789.429,213316.0,8.0,9.714,107609.261,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2022-06-12,3589782.0,0.0,628.714,213316.0,0.0,8.143,107609.261,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2022-06-13,3591816.0,2034.0,919.286,213338.0,22.0,11.286,107670.233,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN

In [12]:
df33 = df[df['location']=='Guinea']
df33

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
GIN,Africa,Guinea,2020-03-13,1.0,1.0,NaN,NaN,NaN,NaN,0.074,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2020-03-14,1.0,0.0,NaN,NaN,NaN,NaN,0.074,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2020-03-15,1.0,0.0,NaN,NaN,NaN,NaN,0.074,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2020-03-16,1.0,0.0,NaN,NaN,NaN,NaN,0.074,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2020-03-17,1.0,0.0,NaN,NaN,NaN,NaN,0.074,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GIN,Africa,Guinea,2022-06-09,36817.0,53.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-10,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-11,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-12,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-13,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.6,0.477,NaN,NaN,NaN,NaN

In [13]:
df444 = df22.append(df33, sort=False)
df444

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
PER,South America,Peru,2020-03-06,1.0,1.0,NaN,1.0,1.0,NaN,0.030,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-07,1.0,0.0,NaN,1.0,0.0,NaN,0.030,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-08,6.0,5.0,NaN,2.0,1.0,NaN,0.180,...,4.8,NaN,NaN,1.6,76.74,0.777,2706.0,11.77,12.57,81.11653
PER,South America,Peru,2020-03-09,7.0,1.0,NaN,2.0,0.0,NaN,0.210,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
PER,South America,Peru,2020-03-10,11.0,4.0,NaN,2.0,0.0,NaN,0.330,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GIN,Africa,Guinea,2022-06-09,36817.0,53.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-10,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-11,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-12,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2022-06-13,36817.0,0.0,7.571,442.0,0.0,0.0,2727.743,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN

In [14]:
df444.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1653 entries, PER to GIN
Data columns (total 66 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   continent                                   1653 non-null   object
 1   location                                    1653 non-null   object
 2   date                                        1653 non-null   object
 3   total_cases                                 1653 non-null   float64
 4   new_cases                                   1652 non-null   float64
 5   new_cases_smoothed                          1642 non-null   float64
 6   total_deaths                                1620 non-null   float64
 7   new_deaths                                  1618 non-null   float64
 8   new_deaths_smoothed                         1608 non-null   float64
 9   total_cases_per_million                     1653 non-null   float64
 10  new_cases_per_million                       1652 non-null   float64
 11  new_cases_smoothed_per_million              1642 non-null   float64
 12  total_deaths_per_million                    1620 non-null   float64
 13  new_deaths_per_million                      1618 non-null   float64
 14  new_deaths_smoothed_per_million             1608 non-null   float64
 15  reproduction_rate                           1614 non-null   float64
 16  icu_patients                                0 non-null      float64
 17  icu_patients_per_million                    0 non-null      float64
 18  hosp_patients                               0 non-null      float64
 19  hosp_patients_per_million                   0 non-null      float64
 20  weekly_icu_admissions                       0 non-null      float64
 21  weekly_icu_admissions_per_million           0 non-null      float64
 22  weekly_hosp_admissions                      0 non-null      float64
 23  weekly_hosp_admissions_per_million          0 non-null      float64
 24  total_tests                                 737 non-null    float64
 25  new_tests                                   0 non-null      float64
 26  total_tests_per_thousand                    737 non-null    float64
 27  new_tests_per_thousand                      0 non-null      float64
 28  new_tests_smoothed                          812 non-null    float64
 29  new_tests_smoothed_per_thousand             812 non-null    float64
 30  positive_rate                               817 non-null    float64
 31  tests_per_case                              776 non-null    float64
 32  tests_units                                 826 non-null    object
 33  total_vaccinations                          643 non-null    float64
 34  people_vaccinated                           643 non-null    float64
 35  people_fully_vaccinated                     620 non-null    float64
 36  total_boosters                              240 non-null    float64
 37  new_vaccinations                            560 non-null    float64
 38  new_vaccinations_smoothed                   911 non-null    float64
 39  total_vaccinations_per_hundred              643 non-null    float64
 40  people_vaccinated_per_hundred               643 non-null    float64
 41  people_fully_vaccinated_per_hundred         620 non-null    float64
 42  total_boosters_per_hundred                  240 non-null    float64
 43  new_vaccinations_smoothed_per_million       911 non-null    float64
 44  new_people_vaccinated_smoothed              923 non-null    float64
 45  new_people_vaccinated_smoothed_per_hundred  923 non-null    float64
 46  stringency_index                            1638 non-null   float64
 47  population                                  1653 non-null   float64
 48  population_density                          1653 non-null   float64
 49  median_age                                  1653 non-null   float64
 50  aged_65_older                               1653 non-null   float64
 51  aged_70_older                               1653 non-null   float64
 52  gdp_per_capita                              1653 non-null   float64
 53  extreme_poverty                             1653 non-null   float64
 54  cardiovasc_death_rate                       1653 non-null   float64
 55  diabetes_prevalence                         1653 non-null   float64
 56  female_smokers                              830 non-null    float64
 57  male_smokers                                0 non-null      float64
 58  handwashing_facilities                      823 non-null    float64
 59  hospital_beds_per_thousand                  1653 non-null   float64
 60  life_expectancy                             1653 non-null   float64
 61  human_development_index                     1653 non-null   float64
 62  excess_mortality_cumulative_absolute        117 non-null    float64
 63  excess_mortality_cumulative                 117 non-null    float64
 64  excess_mortality                            117 non-null    float64
 65  excess_mortality_cumulative_per_million     117 non-null    float64
dtypes: float64(62), object(4)
memory usage: 865.2+ KB

### 9. CUANTAS FILAS HAY POR PAIS

In [15]:
#FILAS DE PERU
len(df22)

830

In [16]:
#FILAS DE GUINEA
len(df33)

823

### 10. CUAL ES LA FECHA MAXIMA POR PAIS

In [17]:
df444.groupby('location').date.max()

location
Guinea    2022-06-13
Peru      2022-06-13
Name: date, dtype: object

### 11. CUAL ES LA FECHA MINIMA POR PAIS

In [18]:
df444.groupby('location').date.min()

location
Guinea    2020-03-13
Peru      2020-03-06
Name: date, dtype: object

### 12. CUANTOS REGISTROS HAY POR 'CONTINENTE'

In [19]:
pd.crosstab(index=df444['continent'], columns='location')

col_0          location
continent
Africa              823
South America       830

### 13. CUANTOS NUEVOS CASOS HUBO COMO MAXIMO EN UNA FECHA REPORTADA POR CADA PAÍS

In [20]:
df444[df444.date == '2021-04-13'].sort_values('new_cases', ascending=False)

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
PER,South America,Peru,2021-04-13,1659707.0,6387.0,9928.286,153538.0,749.0,829.143,49752.281,...,4.8,NaN,NaN,1.6,76.74,0.777,NaN,NaN,NaN,NaN
GIN,Africa,Guinea,2021-04-13,21106.0,74.0,85.143,136.0,0.0,0.857,1563.727,...,NaN,NaN,17.45,0.3,61.60,0.477,NaN,NaN,NaN,NaN

### BIBLIOGRAFIA

[1] https://interactivechaos.com/es/manual/tutorial-de-pandas/dataframes-el-metodo-append

[2] https://interactivechaos.com/es/manual/tutorial-de-pandas/dataframes-la-funcion-merge